#image{

    height: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.container{

margin-left: auto;
margin-right: auto;

}

#Texte_dec_page_photo{


    
    /* position: absolute; */
    float: right;
    position: absolute;
    margin-left: 60%;
    margin-top: 7%;
}

@media (max-width: 768px) {


    #image{

        height: 100%;
 
        margin-left: auto;
        margin-right: auto;
    }

    #contener_image{

        margin-top: 50px;
        
    }
   #btn_voir_plus{

    font-size: 10px;
    display: none;
   }

  h2,p{

    font-size: 14px;
    text-align: center;
    align-items: center;
    justify-content: center;
 

    
  }

  #Texte_dec_page_photo{


    
    /* position: absolute; */
    float: right;
    position: absolute;
    margin-left: 37.9%;
    margin-top: 7%;
}


  }
  